body {
    margin-bottom:60px;
}
.header {
    overflow: hidden;
    background-color: #4eac92;
    padding: 10px 10px;
  }

.header h1 {
    color: white;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #4eac92;
}

#footText {
    text-align: center;
    color: white;
}

#nav-text {
    font-size: 1.6em;
}

#loginbox {
    font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#loginbox h4 {
    font-size: 3em;
}

#loginbox label {
    font-size: 1.5em;
}

#logincard {
    width: 40%;
    border-color: #F3969A;
}

#loginbutton {
    font-size: 1.5em;
}

#signupbox {
    font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#signupbox h1 {
    color: #F3969A;
}

#signupbox label {
    font-size: 1.5em;
}

#categoriesradio {
    font-size: 1.2em;
    padding-top: 5px;
}

